.content{
    text-align: justify;
}
#heading{
    text-align: center;
    font-size:5vw;
    font-weight: bold;
}
img{
    background-color: gray;
}
#topbar{
    text-align: center;
    font-size:1vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#bottombar{
    border-top: 2px solid black;
}
.image{
    border-radius: 2px;
    background-color:rgb(117, 20, 20);
    font-size: 35px;
    color: black;
}
